.App {
  font-style: normal;
  text-align: center;
  background-color: #609cd3;
  padding: 10px;
}

.logo {
  height: 150px;
  width: 100%;
}

.display-1 {
  color: #ffffff;
  font-family: roboto;
  font-size: 60px;
}

.dropdownbtn {
  width: 260px;
  height: 60px;
  left: 42px;
  top: 356px;
  border: none;
  color: #000000;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.arrow {
  width: 30px;
  height: 30px;
}

.dropdown-menu {
  width: 260px;
  border-radius: 20px;
  text-align: center;
}

.card-body {
  background-color: white;
  border: none;
}
.card {
  border: none;
}
.footer {
  color: white;
}

audio {
  width: 100%;
}
